/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}
*, 
* :before, 
* :after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	min-width: 1440px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.header {
	display: flex;
	padding: 24px 48px;
	background: #fff;
	box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25);
	position: initial;
	z-index: 1;
}
.header__logo {
	color: #6a75ca;
	font: 24px/1.33 Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-right: 165px;
}
.header__nav_list a {
	font: 16px/2 Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #131320;
}
.header__nav_link1 a {
	padding-right: 47px;
}
.header__nav_link2 a {
	padding-right: 49px;
}
.header__nav_link3 a {
	padding-right: 44px;
}
.header__nav_link4 a {
	padding-right: 50px;
}
.header__nav_list a:hover {
	color: #6a75ca;
}
.header__nav_list {
	display: flex;
	flex-wrap: wrap;
}
.main {
	display: flex;
	flex-grow: 1;
}
.main__sidebar_menu {
	width: 16.7%;
	background: #6a75ca;
}
.main__menu_list {
	padding: 24px 32px 32px 32px;
}
.active_header a {
	color: #6a75ca;
}
.main__nav_link a {
	font: 16px/32px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #fff;
	white-space: nowrap;
	padding: 8px 0 8px 16px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.main__nav_link.active a:before,
.main__nav_link a:hover:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	margin: -4px 0 0;
}
section {
	width: 83.3%;
	background: #eff2f8;
}
.main__tittle {
	width: 100%;
	font: 36px/42px Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 24px 48px;
	border-bottom: 1px solid  #131320;
  	color: #131320;
}

.main__section_top {
	width: 1104px;
	background: #6a75ca;
	margin: 24px auto 28px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	 --notchSizeX: 50px;
	 --notchSizeY: 50px;
    clip-path: 
    polygon(calc(100% - var(--notchSizeX)) 0, 100% var(--notchSizeY), 100% 100%, 0 100%, 0 0);
    border-radius: 8px;
}
.info {
	padding-left: 32px;
}

.main__section_top_list {
	padding: 32px;
}


.main__section_top_list li {
	font: 16px/1.31 Arial, Helvetica, sans-serif;
	color: #fff;
}
.menu_list {
	text-align: right;
}
.menu_list_item {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.menu_list_item {
	margin-right: 46px;
}

.menu_list :nth-child(2) {
	margin-right: 47px;
}

.menu_list :nth-child(3) {
	margin-right: 48px;
}

.menu_list :nth-child(4) {
	margin-right: 50px;
}
.menu {
	width: 1104px;
	background: #000;
	padding: 2px 35px;
	margin:0 auto 60px;
}
.gradient {
	 background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%)
}
.menu_list_link {
	font: 32px/ 37px Helvetica, Arial, sans-serif;
	text-decoration: none;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	padding: 30px 25px 29px 25px;
	display: inline-block;
	vertical-align: top;
}
.menu_list_link:after {
	content: '';
	position: absolute;
	right: -25px;
	top: 0;
	display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 48px 25px;
    border-color: transparent transparent transparent #fff;
}
.menu_list_link:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -25px;
	display: block;
	width: 0;
    height: 0;
    border-right: 0 solid #fff;
    border-top: 48px solid #fff;
    border-left: 25px solid transparent;
    border-bottom: 48px solid #fff;
}
.menu_list_link:hover{
	background: #ccc;
}
.menu_list_link:hover:after {
	content: '';
	border-color: transparent transparent transparent #ccc;
} 
.menu_list_link:hover:before {
	border-right: 0 solid #ccc;
    border-top: 48px solid #ccc;
    border-left: 25px solid transparent;
    border-bottom: 48px solid #ccc;
}
.gradient .menu_list_link:hover {
 	background: rgba(255,255,255, 0.7);
 }
.gradient .menu_list_link:hover:after {
	content: '';
	border-color: transparent transparent transparent rgba(255,255,255, 0.7);
} 
.gradient .menu_list_link:hover:before {
	border-right: 0 solid rgba(255,255,255, 0.7);
    border-top: 48px solid rgba(255,255,255, 0.7);
    border-left: 25px solid transparent;
    border-bottom: 48px solid rgba(255,255,255, 0.7);
}
.main__article_middle_wrapper {
	 border: 1px solid #4f58b2;
	 border-radius: 8px;
	 position: relative;
	 width: 1104px;
	 margin: 0 auto 35px;
	 position: relative;
}
.main__article_middle_hat_wrapper{
	text-transform: uppercase;
	font: 12px/21px Arial, Helvetica, sans-serif;
	color: #ffc806;
	width: 49px;
	height: 21px;
	display: flex;
	justify-content: center;
	align-items: center;	
	background: rgba(239, 242, 248, 1);
	position: absolute;
	left: 16px;
	top: -10px;
}
.main__article_middle {
	width: 1072px;
	background: #fff;
	margin: 16px;
	 --notchSizeX: 50px;
	 --notchSizeY: 50px;
    clip-path: 
    polygon(calc(100% - var(--notchSizeX)) 0, 100% var(--notchSizeY), 100% 100%, 0 100%, 0 0);
    border-radius: 8px;
}
.main__article_middle_text {
	padding: 48px 83px 48px 48px;
	font: 16px/ 21px 'Courier Prime', monospace;
	color: #7d868e;
}
.main__article_bottom_wrapper {
	 border: 1px solid #4f58b2;
	 border-radius: 8px;
	 position: relative;
	 width: 1104px;
	 margin: 0 auto 43px;
	 position: relative;
}
.main__article_bottom_hat_wrapper{
	text-transform: uppercase;
	font: 12px/1.75 Arial, Helvetica, sans-serif;
	color: #ffc806;
	width: 41px;
	height: 21px;
	display: flex;
	justify-content: center;
	align-items: center;	
	background: rgba(239, 242, 248, 1);
	position: absolute;
	left: 16px;
	top: -10px;
}
.main__article_bottom {
	width: 1072px;
	background: #fff;
	margin: 16px;
	 --notchSizeX: 50px;
	 --notchSizeY: 50px;
    clip-path: 
    polygon(calc(100% - var(--notchSizeX)) 0, 100% var(--notchSizeY), 100% 100%, 0 100%, 0 0);
    border-radius: 8px;
}
.main__article_bottom_text {
	padding: 48px 83px 48px 48px;
	font: 16px/21px 'Courier Prime', monospace;
	color: #7d868e;
}
